## todo:
* Add them here

# General EDA
EDA playround to start to find interesting things.

In [3]:
# Import the required libraries
import pandas as pd
import numpy as np

# set up pandas to display floats in a more human friendly way
pd.options.display.float_format = '{:,.2f}'.format

In [4]:
df = pd.read_csv('../data/proc_kc_house_data.csv')
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,lat,long,sqft_living15,sqft_lot15,date_month,date_day,date_year,renovated_status,sqft_living15_different,sqft_lot15_different
0,7129300520,10/13/2014,"221,900.00",3,1.00,1180,5650,1.00,0.00,0.00,...,47.51,-122.26,1340,5650,10,13,2014,UNK,Y,N
1,6414100192,12/9/2014,"538,000.00",3,2.25,2570,7242,2.00,0.00,0.00,...,47.72,-122.32,1690,7639,12,9,2014,Y,Y,Y
2,5631500400,2/25/2015,"180,000.00",2,1.00,770,10000,1.00,0.00,0.00,...,47.74,-122.23,2720,8062,2,25,2015,UNK,Y,Y
3,2487200875,12/9/2014,"604,000.00",4,3.00,1960,5000,1.00,0.00,0.00,...,47.52,-122.39,1360,5000,12,9,2014,UNK,Y,N
4,1954400510,2/18/2015,"510,000.00",3,2.00,1680,8080,1.00,0.00,0.00,...,47.62,-122.05,1800,7503,2,18,2015,UNK,Y,Y
5,7237550310,5/12/2014,"1,230,000.00",4,4.50,5420,101930,1.00,0.00,0.00,...,47.66,-122.00,4760,101930,5,12,2014,UNK,Y,N
6,1321400060,6/27/2014,"257,500.00",3,2.25,1715,6819,2.00,0.00,0.00,...,47.31,-122.33,2238,6819,6,27,2014,UNK,Y,N
7,2008000270,1/15/2015,"291,850.00",3,1.50,1060,9711,1.00,0.00,0.00,...,47.41,-122.31,1650,9711,1,15,2015,UNK,Y,N
8,2414600126,4/15/2015,"229,500.00",3,1.00,1780,7470,1.00,0.00,0.00,...,47.51,-122.34,1780,8113,4,15,2015,UNK,N,Y
9,3793500160,3/12/2015,"323,000.00",3,2.50,1890,6560,2.00,0.00,0.00,...,47.37,-122.03,2390,7570,3,12,2015,UNK,Y,Y

## Exploring potential renovations using the sqft_living15 and sqft_lot15 values

In [5]:
print("--- no difference between sqft and 2015 metrics ---")
print(df[df['sqft_living15_different'] == 'N'].shape)
print(df[df['sqft_lot15_different'] == 'N'].shape)
print("----DIFF between sqft and 2015 metrics ---")
print(df[df['sqft_living15_different'] == 'Y'].shape)
print(df[df['sqft_lot15_different'] == 'Y'].shape)
print("----renovated status UNK, N, Y---")
print(df[df['renovated_status'] == 'UNK'].shape)
print(df[df['renovated_status'] == 'N'].shape)
print(df[df['renovated_status'] == 'Y'].shape)
print('--- different sqft_living15 and UNK renovated_status------')
print(df[(df['sqft_living15_different'] == 'Y') & (df['renovated_status']=='UNK')].shape)
print("----General shape ---")
print(df.shape)

--- no difference between sqft and 2015 metrics ---
(2563, 27)
(4474, 27)
----DIFF between sqft and 2015 metrics ---
(19034, 27)
(17123, 27)
----renovated status UNK, N, Y---
(17262, 27)
(3591, 27)
(744, 27)
--- different sqft_living15 and UNK renovated_status------
(15460, 27)
----General shape ---
(21597, 27)

# Framing questions from the POV of County government officals.  

Residential property tax assessors, county/city planning that want to learn about economic factors/data related to Residential property. Here are examples;
* Does my zip code price out residents? Ddoes the city/county need to work on making homes more affordable...are they already affordable?
* are lots too small/overcrowding/stressing infrastucture?  Are there differences in lot size between zip codes?
* are the homes good quality, newer, renovated if older. Are there differences between zip codes.
* for tax purposes what percentage of homes are being renovated? What types of homes are being renovated?

## General Questions
### Are any homes listed twice in the dataset?
I think only home sales in 2014 and 2015 are included so there might not be many homes that sold twice in that time frame.

###

## What percentage of homes in the county are renovated? Consider breaking down by zipcode, by year built, by homes with waterfront and/or nice views.

## Group by zipcode and look at the differences in 1)sales price 2)sqft_living 3) sqft_lot 4)yr_built  5)anything else interesting.